.block{
    border: 1px solid rgb(238, 0, 159);
    border-radius: 15px;
    background-color: rgb(238, 0, 159);
    width: 50%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.box{
    border: none  solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.904);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 538px;
    animation: sb 1.5s linear infinite;
}

@keyframes sb {
    from{
        transform: scale(0.9);
        opacity: 0.8;
    }
    to{
        transform: scale(1.1);
        opacity: 0.1;
    }
}

.box2{
    border: none  solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgba(0, 160, 120, 0.322);
    width: 160px;
    height: 160px;
    position: absolute;
    top: 320px;
    left: 558px;
    animation: sb2 1.4s linear infinite;
}

@keyframes sb2 {
    from{
        transform: scale(0.9);
        opacity: 0.8;
    }
    to{
        transform: scale(1.1);
        opacity: 0.7;
    }
}

.box3{
    border: none  solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgba(0, 124, 48, 0.356);
    width: 135px;
    height: 135px;
    position: absolute;
    top: 333px;
    left: 570px;
    animation: sb3 1.3s linear infinite;
}

@keyframes sb3 {
    from{
        transform: scale(0.9);
        opacity: 0.8;
    }
    to{
        transform: scale(1.1);
        opacity: 0.5;
    }
}
img{
    position: absolute;
    top: 350px;
    left: 588px;
    animation: img 1.2s linear infinite;
}

@keyframes img {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1.1);
    }
}
    


